
body {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

a {
    text-decoration: none;
    color: black;
}

#shutter {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid   rgba(0, 0, 0, 1);
}

#webprogramming{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
}

img {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 5px #000000;
    transition: 0.3s;
}

img:hover {
    box-shadow: 0 0 15px #000000;
}