
body {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

a {
    text-decoration: none;
    color: black;
}

.shutter {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid   rgba(0, 0, 0, 1);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(10px);
    transition: opacity 0.5s ease-in-out; /* Adjust duration and easing */
}

#webprogramming{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
}

img {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 5px #000000;
    transition: 0.3s;
}

img:hover {
    box-shadow: 0 0 15px #000000;
}

#shutter1 {
    visibility: visible;
}

#shutter2, #holder {
    visibility: hidden;
    position: absolute;
    width: 90vw;
    top: 0;
    height: 90vh;
}

.sideArrow {
    border-color: black !important;
    border-width: 0px !important;
    border-style: solid !important;
    box-shadow: 0 0 0px #000000 !important;
    cursor: pointer;
}

#sideArrow2 {
    transform: rotate(180deg);
}

/* Ensure elements are initially visible */
.visible {
    opacity: 1;
}

/* Hide elements during transition */
.hidden{
    opacity: 0;
}