#shutter {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid   rgba(0, 0, 0, 1);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(10px);
}

.nav-link {
    color: white !important;
}