@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

html {
    height: 100%;
    font-family: "Rubik";
}

.center {margin-inline: auto !important;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    place-content: center;}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    min-height: 100%;
    font-size: large;
    font-family: "Rubik";
}

footer, .header {
    font-family: "Rubik";
}

main {
    font-family: "Rubik";
}

.text-danger {
    text-shadow: 0 0 1px #000000;
}

footer {
    padding: 0%;
    bottom: 0;
    width: 100%;
    position: relative;
}

a:hover {
    color: #000000;
}

.footer-link {
    cursor: copy;
    color:black;
    text-decoration: none;
}

main {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#footer-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.img {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 5px #000000;
}

@media (max-height: 1200px) {
    p {
        text-align: left !important;
    }
}

@media (min-height: 1201px) {
    p {
        text-align: justify !important;
    }
}