#title {
    text-decoration: underline;
    color: black;
}

#footer_home, #header_home {
    text-decoration: underline;
}

.main_imgs {
    border-radius: 20%;
}

.card, .kartya {
    transition: 0.3s;
    height: auto;
}

@media (max-height: 1200px) {
    .card {
        width: 100% !important;
        margin-top: 20%;
        margin-bottom: 20%;
        height: 75%;
    }
}

@media (min-height: 1201px) {
    .card {
        margin-top: 5%;
        margin-bottom: 5%;
        height: 100%;
    }

    #button_container {
        bottom: 0 !important;
        position: relative;
    }
}

.card:hover, .kartya:hover {
    box-shadow: 0 0 10px #000000;
}