#title {
    text-decoration: underline;
    color: black;
}

#footer_home, #header_home {
    text-decoration: underline;
}

.main_imgs {
    border-radius: 20%;
}

.card {
    transition: 0.3s;
    height: auto;
}

@media (max-width: 800px) {
    .card {
        width: 100% !important;
        margin-top: 20%;
        margin-bottom: 20%;
    }
}

@media (min-width: 801px) {
    .card {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #button_container {
        top: 25vh !important;
        position: relative;
    }
}

.card:hover {
    box-shadow: 0 0 10px #000000;
}