main, header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#title {
    text-decoration: underline;
    color: black;
}

#email_link {
    color:black;
    text-decoration: none;
}

#footer_home, #header_home {
    text-decoration: underline;
}

.main_imgs {
    border-radius: 20%;
}

#secund_img {
    transform: rotate(13deg);
}

#third_img {
    transform: rotate(13deg);
}

#fourth_img {
    border-radius: 30%;
    transform: rotate(-13deg);
}

.card {
    margin: 5%;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 0 10px #000000;
}