#email_link {
    color:black;
    text-decoration: none;
}

footer {
    padding: 0%;
    position: sticky;
    bottom: 0;
    width: 100%;
}

#footer_home, #header_home {
    text-decoration: underline;
}

td div {
    background-color: white;
}

#package_main {
    width: 50%;
}

main, header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}