
html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-size: large;
}

footer, .header {
    min-height: 10vh;
}

main {
    min-height: 80vh;
}

.text-danger {
    text-shadow: 0 0 1px #000000;
}

footer {
    padding: 0%;
    bottom: 0;
    width: 100%;
    position: relative;
}

a:hover {
    color: #000000;
}

.footer-link {
    cursor: copy;
    color:black;
    text-decoration: none;
}

main {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}