#email_link {
    color:black;
}

#email_link {
    text-decoration: none;
}

footer {
    padding: 0%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer_home, #header_home {
    text-decoration: underline;
}