
html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
}

@media (max-width: 800px) {
    footer, header {
        min-height: 20%;
    }
}

@media (min-width: 801px) {
    footer, header {
        min-height: 10%;
    }
}

main {
    min-height: 80%;
}

.text-danger {
    text-shadow: 0 0 1px #000000;
}

footer {
    padding: 0%;
    bottom: 0;
    width: 100%;
    position: relative;
}

a:hover {
    color: #000000;
}