
html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%; /* height grows if content grows */
}

footer, header {
    min-height: 10vh;
}

main {
    min-height: 80vh;
}

.text-danger {
    text-shadow: 0 0 1px #000000;
}

footer {
    padding: 0%;
    bottom: 0;
    width: 100%;
    position: relative;
}

a:hover {
    color: #000000;
}