
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: #333;
}
header, footer {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 0;
}
.container-fluid {
    text-align: center;
    padding-bottom: 0; /* Close the gap */
}
h1 {
    margin: 20px 0 10px 0; /* Reduce bottom margin to close the gap */
}
h3 {
    margin: 20px 0;
}
.image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    color: #666;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin: 10px 0;
}
.image-placeholder.bordered {
    border: 3px solid #333;
}
nav a {
    color: #fff !important;
}